@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Playfair Display', serif;
}
body{ background:url(https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1776&q=80);
  background-size:cover;
  background-position:right;
  background-attachment:fixed;
}

#header>h1{
  text-align:center;
  font-size:3rem;
}
#header>p{
  text-align:center;
  font-size:1.5rem;
  font-style:italic;
}
.container{
  width:100vw;
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  padding:40px 20px;
}
.cards{
  display:flex;
  flex-direction:column;
  width:400px;
  margin-bottom:60px;
}
.card>div{
  box-shadow:0 15px 20px 0 rgba(0,0,0,0.5);
}
.card-image{
  width:345px;
  height:300px;
}
.card-image>img{
  width:100%;
  height:100%;
  object-fit:cover;
  object-position:bottom;
}
.card-text{
  margin:-30px 60px;
  margin-bottom:-140px;
  height:200px;
  width:250px;
  background-color:#1D1C20;
  color:#fff;
  padding:10px;
}
.card-meal-type{
  font-style:italic;
}
.card-title{
  font-size:1.5rem;
  margin-bottom:15px;
  margin-top:5px;
}
.card-body{
  font-size:1rem;
}
.card-price{
  width: 90px;
  height: 95px;
  background-color:#970C0A;
  color:#fff;
  margin-left:auto;
  font-size:2rem;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card-boton{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 80px;
  margin-top: 0.5rem;
  margin-left: 4.5rem;
}

html{
  scroll-behavior: smooth;
}

#body{
    display: grid;
    grid-template-areas: 
    "header"
    "carrito"
    "checks"
    "contenedor-productos"
    "footer";
/*     grid-template-columns: repeat(2,1fr); */
   /* background-image: url("./imagenes/fondo-chino-del-espacio-en-blanco-de-la-comida-74023563.jpg"); */
   background-color: #EDDDD4;
   scroll-snap-type: y mandatory;
   overflow-y: scroll;
   height: 100vh;
}


#header{
    grid-area: header;
    box-shadow:0 15px 20px 0 rgba(0,0,0,0.5);
}
/* opciones de color de backgrounds #EDDDD4 */
a{
    text-decoration: none;
    color: #1D1C20;
    font-size: 2rem;
}

li{
    list-style: none;  
}

#barra{
    padding: 0.5rem 2.5rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.barra_grande{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#checks{
    grid-area: checks;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-top: 2rem;
}

#carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orden {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
}

#contenedor-productos{
    grid-area: contenedor-productos;
    display: flex;
    align-items: center;
}

.img{
    width: 30rem;
}

#footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.title{
    font-size: 7rem;
    text-align: center;
}

.icon{
    font-size: 3.5rem;
    box-shadow:0 15px 20px 0 rgba(0,0,0,0.5);
}

.title1{
    box-shadow:0 15px 20px 0 rgba(0,0,0,0.5);
}

.logo{
    margin: 0px 120px;
    margin-right: -290px;
}

.filtros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

#seccion-1{
  margin-top: 2rem;
  height: 100vh;
  scroll-snap-align: start;
}

#seccion-2{
  height: 100vh;
  scroll-snap-align: start;
}

#tabla{
/*   display: flex;
  flex-direction: column;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(5,5rem);
  justify-items: center;
  column-gap: 5rem;
  border-collapse: separate;
  border-spacing: 100px 10px;
}



